#app {
    display: grid;
    grid-template-columns: 1fr 2fr;

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;
    background-color: var(--shape-background);

}

aside {
    background-color: var(--shape-body);
    padding: 4rem;
}