#app {
    display: grid;
    grid-template-columns: 31.75% 68.75%;

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 4rem;
    background-color: var(--shape-body);

    & .main-container {
        max-width: 52.5rem;
        margin-left: auto;
    }

}

aside {
    background-color: var(--shape-background);
    padding: 4rem;

    & .aside-container {
        max-width: 27.5rem;

        & > img {
            margin-top: 2rem;
        }

        & h2 {
            font: var(--logo);
            color: var(--accent-pink);
        }
    }
}